 <html>
 	<head>
		<title>{% block title 'Sartori Blog' %}</title>
		<link rel="stylesheet" type="text/css" href="/style/style.css">
 	</head>
 	<body>
	    {% if SESSION.username != "" %}
		<div class="buttons">
			<span class="loggedInAs">{{ SESSION.username }}</span>
			<a class="link" href="/logout">Logout</a>
		</div>
	    {% else %}
		<div class="buttons">
			<a class="link" href="/register">Register</a>
			<a class="link" href="/login">Login</a>
		</div>
        {% endif %}
		<h1 class="title">Blog - Dario Sartori</h1>
		<div class="clear"></div>
 		{% block content '' %}
 	</body>
</html>