{%  extends 'base.html.twig' %}
{% block title %}
	{{ parent() }} - Index
{% endblock %}
{% block content %}
<p>Welcome to my Blog - Sartori Blog</p>
{% if SESSION.LoggedIn != true %}
</p>Click on the top right Corner to log in or sign up, if you don't have an account</p>
{% endif %}
{% endblock %}